
<ion-view view-title="Sign-In" name="login-view">
    <ion-content padding="true" class="has-header">
      <div class="list list-inset">
        <form>
            <ion-list>	  
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-dark button-block" ng-click="login(data)">Log in</button>
            <a href="#/signup" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
      </div>
  </ion-content>
</ion-view>
  <div>
    <div>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
</div>